$custom-white: #f3f3f3 !default;
$custom-grey-light: #e7e7e7e8 !default;
$custom-grey: #6b6b6b !default;
$custom-grey-dark: #242424 !default;
$custom-grey-darker: #131313 !default;
$custom-black: #030303 !default;
$custom-blue: #032439 !default;