@import "./custom_colors";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $custom-white;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #365366;
    opacity: 1;
    background-image: linear-gradient(30deg, #e5f567 12%, transparent 12.5%, transparent 87%, #e5f567 87.5%, #e5f567), linear-gradient(150deg, #e5f567 12%, transparent 12.5%, transparent 87%, #e5f567 87.5%, #e5f567), linear-gradient(30deg, #e5f567 12%, transparent 12.5%, transparent 87%, #e5f567 87.5%, #e5f567), linear-gradient(150deg, #e5f567 12%, transparent 12.5%, transparent 87%, #e5f567 87.5%, #e5f567), linear-gradient(60deg, #e5f56777 25%, transparent 25.5%, transparent 75%, #e5f56777 75%, #e5f56777), linear-gradient(60deg, #e5f56777 25%, transparent 25.5%, transparent 75%, #e5f56777 75%, #e5f56777);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    overflow-x: hidden;
    a{
        color: $custom-white;
    }
}